$clr-bg-light: hsl(30, 50%, 96%);
$font-family: Poppins,sans-serif;
$clr-btn: hsl(240, 100%, 50%);
$clr-text: hsl(0, 0%, 100%);
$clr-dark: hsl(220, 20%, 15%);
$clr-light-blue: hsl(218, 81%, 49%);
$clr-x-light-blue: hsl(218, 81%, 79%);
$clr-brown: hsl(45, 100%, 14%);
$clr-brown-hover: hsl(45, 100%, 34%);
$clr-solution: hsl(0, 0%, 93%);